button.startBtn, button.playAgain {
    font-size: 40px;
    width: 50%;
}

div.enterScore {
    display: none;
}

div.highScoreBox {
    display: none;
}

div.submitName {
    width: 10%;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #666666;
    color: white;
}

div.submitName:hover {
    background-color: #999999;
    cursor: pointer;
}

li.answer {
    margin-bottom: 5px;
    padding: 10px;
    background-color: #666666;
    color: white;
}

li.answer:hover {
    background-color: #999999;
    cursor: pointer;
}

div.questionBox {
    display: none;
}

p.alert {
    display: none;
    color: red;
    font-size: 20px;
}

ul.scoreList li {
    background-color: #666666;
    color: white;
    margin-bottom: 5px;
    padding: 10px;
}

div.view-scores:hover {
    cursor: pointer;
    color: #666666;
}

header h1:hover {
    cursor: pointer;
    color: #666666;
}

